<div  class="article">
    <h1>Clara Zhang</h1>
    <img src='../img/ClaraCarnegieHall.jpg' />
    <p>Clara Zhang, a native of China, with her passion and persistence, has made her dream come true as an international
    concert pianist and a well-respected piano teacher in New York City. Born in HeBei, China in the early 80's, Zhang,
    among many children of her generation, started her lifelong training in music from a young age. On her 3rd birthday her
    grandmother gave her an electronic keyboard. On that day, her future became clear - having no brothers or sisters to share it with,
    she went to a tree in the yard and promised to herself and the tree that one day she will move to New York City,
    America and be the greatest pianist ever!</p>
    
    <p>The competition in the music field has always been intense in China, but for Clara, playing the keyboard was never
    something she was pushed to do, rather it was always a reward for her to play when she did well in school. Perhaps it
    was the sense of enjoyment that she felt when she played music that gave her joy in life. She competed in and won many
    national competitions. She loved performing in front of people and felt the deepest passion towards classical music from
    the very beginning of her training. When she turned 9, with a new opportunity, she finally got her first acoustic piano
    and started her private piano lessons with a professional teacher. Two years later, against her father's wishes, she decided
    to audition at the prestigious TianJin Music Conservatory that was 8 hours away from her home city. Although there were 8,000
    other competitors that were also auditioning at the conservatory, her musicality touched the ten jury members, and she was accepted
    to be one of the thirty classical piano performance students. The conservatory was eight hours away from home, so from that
    day Clara became an independent musician pursuing her dream of becoming a concert pianist.</p>
    
    <p>In 2000, after being selected to perform with an international group to tour the east coast of the United States, the 17
    year old Clara moved to Washburn University in Kansas where she was offered a full scholarship to continue her music studies.
    She graduated summa cum laude, with a bachelors in piano performance. Her graduate work was completed at the University of
    Massachusetts, Amherst, where she attended as a full teaching assistant. Upon graduation in 2007 ms. Zhang moved to Brooklyn
    where she was appointed the director of piano at a magnet school for music and art. There she taught piano and music theory
    and music history classes.</p>
    
    <p>Clara is a dedicated teacher, passionate in bringing her students to their highest potential at any age. She started building
    her own studio while teaching for various private and public piano schools throughout New York City. Ms. Zhang has taught
    hundreds of students in over 10 neighborhoods! Currently all of her students have received success of their own, some receiving
    music scholarships for college, some auditioning into top music schools, many achieving high scores in the ABRSM piano exams. No
    matter what level they are at, they are having fun learning and working. Her passion for music, has her continue to develop as a
    professional pianist and educator and to bring the joy of success to all of her students. Students will achieve the highest level
    of musicality while maintaining a fun and intelligent learning process.</p>
    
    <p>She has studied with notable, international pianists and teachers including Dr. Hugo Goldenzweig, Ms. Edna Golandsky, Mr. Seymour
    Bernstein, Ms. Nadine Shank, Ms. Estela Olevsky, Dr. Xiao-Li Ding, Mr. James Rivers, Dr. Norma Pettijohn, Mr. LiuYi Tang and Mr. TianYong
    Zhang and many others. As a concert pianist Ms. Zhang has performed regularly in major concert halls in New York City, Massachusetts,
    Kansas, China, and beyond. In 2009, she was invited as a soloist by Maestro Norman Gamboa to perform the Beethoven Piano Concerto No.1,
    Op.15 with the Washburn Symphony Orchestra in Kansas and received extraordinary reviews.</p>
    
    <p>This year in New York Ms. Zhang has appeared in many concerts, including a duo recital at Carnegie Hall, many solo recitals at
    Mannes Recital Hall, the Goldmark Hall, the Yamaha Artist Center as well as a performance at Lincoln Center. She continues to collaborate
    with cellist Analissa Martinez in the Firebird Duo. Their performance was featured on the Alive with Clive TV Show as well as in Abrons
    Theatre for the Arts in downtown Manhattan. The CYC Duo with Clarinetist/Pianist, Yi-Chuan Chen has taken them all around New York City
    and beyond. They performed in Waltz-Astoria in Queens, different concerts in Long Island City and Brooklyn as well as the Snapple Theater
    on Broadway. Her salon concert series also allowed her to perform with oboist, Ms Dana Frobig, Flutist Ms Chrissy Fong among others. She
    also worked with composer Matt Johnson and performed his composition with the chamber piano quartet.</p>
    
    <p>Member - Lezchetizsky Association for piano teachers and the American Federation of Musicians.</p>
    
    <p>To follow Clara's concerts, follow her at <a href="http://clarahaozhang.blogspot.com/">http://clarahaozhang.blogspot.com/</a></p>
</div>