        <div id="left_col" class="span4">
            <h1>Getting Started</h1>
            <p>Introductory Piano Lesson</p>
            <ul>
              <li>By appointment only</li>
              <li>347.514.2071</li>
              <li>clara.zhang@rationalmusic.com</li>
              <li>Duration: 60 minutes</li>
              <li>Cost: Free!</li>
            </ul>
            <p>It's fun and enjoyable and the way to begin your musical journey....
            <br />an introductory piano lesson!</p>
            <p><a class="btn btn-primary btn-large" href="#">Start Learning now</a></p>        
        </div>
        
        <div id="middle_col" class="span4">
            <h1>A Rational Method</h1>
            <p>Every student at Rational Music Studio is given a unique learning curriculum to help them achieve their highest potential.  The foundation of this learning style is becoming an honest listener, a limitless imaginer, a critical thinker, and most importantly, an enthusiastic and independent worker.</p>            
        </div>
        
        <div id="right_col" class="span4">
            <h1>Clara Zhang</h1>
            <p>Clara Zhang was born in the city of  ShiJiaZhuang, HeBei Province, China.  On her 3rd birthday her grandmother gave her an electronic keyboard. On that day, her future became clear - having no brothers or sisters to share it with, she went to a tree in the yard and made a promise:  I will move to NYC and be the greatest pianist ever!
                <br />Self motivated from the very beginning, at the age of 7 she entered her first of many competitions to come...<a href="~/Home/ClaraBio">More...</a>
            </p>
        </div>
