        <div id="left_col" class="span4">
            <h1>Getting Started</h1>
            <p>Introductory Piano Lesson</p>
            <ul>
              <li>By appointment only</li>
              <li>347.514.2071</li>
              <li>clara.zhang@rationalmusic.com</li>
              <li>Duration: 60 minutes</li>
              <li class='text-success'>Cost: Free!</li>
            </ul>
            <p>It's fun and enjoyable and the way to begin your musical journey....
            <br />an introductory piano lesson!</p>
            <!--<p><a class="btn btn-primary btn-large" href="index.html#/signup">Start Learning now</a></p>-->
        </div>
        
        <div id="middle_col" class="span4">
            <h1>A Rational Method</h1>
            <p>Learn to play piano by thinking and understanding - <span class='text-italics'>not rote repetition</span>.  Rational Music Studios offers an integrated approach to
            learning bringing together reading skills, phrasing, theory, music appreciation, and music history.  This makes for a learning process
            that is both effective and enjoyable.</p>            
        </div>
        
        <div id="right_col" class="span4">
            <h1>Clara Zhang</h1>
            Clara Zhang, a native of China, with her passion and persistence, has made her dream come true as an international concert pianist
            and a well-respected piano teacher in New York City. Born in HeBei, China in the early 80's, Zhang, among many children of her generation,
            started her lifelong training in music from a young age. On her third birthday her grandmother gave her an electronic keyboard. On that day,
            her future became clear - having no brothers or sisters to share it with, she went to a tree in the yard and promised to herself and the
            tree that one day she will move to New York City, America and be the greatest pianist ever!&nbsp;<a href="index.html#/bio">More...</a>
            </p>
        </div>
