<div class="article">
    <h2>Studio Policy</h2>
    <h1>Participation Expectations for Parents</h1>
    
    <p>While most students are initially excited to begin piano lessons, please be aware that they will face challenges and sometimes frustrations. As the initial enthusiasm is replaced by an awareness of the discipline and commitment required to attain skills, your encouragement and praise will be essential to your child's success.
    Set aside a scheduled practice time for your child. It is important to budget time for practicing and to make it happen as a part of his or her daily routine. For example, a child could know that after their afternoon snack, they will practice for 30 minutes or that from 7-7:45pm is their designated practice time. Please supervise home practice sessions, making sure your child completes each assignment. Many children are not mature or disciplined enough to manage practicing without your support.
    You must have a piano or full-sized keyboard with 88-weighted keys, foot pedal and a bench at proper height in your home. A piano is strongly recommended as nothing can take the place of its touch and sound. Your instrument should be tuned twice a year. Maintaining your piano is important. I can recommend a piano tuner/technician. The piano should be located in a well-lit place that allows practicing to be done with as few distractions as possible (TV and other siblings). Please keep it and the surrounding area clean. Keeping lesson books and other materials organized at home saves time during lessons.</p>
    
    <h1>Participation Expectations for Students</h1>
    <p>Students are expected to:
    <ul>
        <li>Practice at least 5 days a week and accurately record it in his or her practice journal.</li>
        <li>Be prepared for lessons (with all books and completed theory or other projects).</li>
        <li>Keep fingernails trimmed short (should not extend past the end of the finger) to ensure proper hand position and good technique.</li>
        <li>Turn off cell phones and other electronic devices during lessons.</li>
        <li>Participate in performance workshops and recitals.</li>
    </ul>
    
    <h1>Services Provided?</h1>
    <p>Private individual piano lessons are provided on a weekly basis, with lesson times of 30, 45 or 60 minutes. Students are taught in the piano studio or a space preferred by your family. Lessons are conducted each week on a specific day and at a specific time, which is reserved for each student during the Fall-Spring Session. See below for Summer Session details. Enrolled students are expected to participate in performance workshops and recitals, in addition to weekly lessons.</p>
    
    <h1>Studio-Based Lessons</h1>
    <p>Be sure to arrive early to find a parking space so no valuable lesson time is lost. Please enter and sit quietly in the designated waiting area for your student’s time slot. You must supervise any siblings that have accompanied you. Phone calls should be taken outside. You are welcome to observe your child’s lesson as long as your presence is not a distraction. When the lesson ends, exit the waiting area so there is room for others. I may not have time to discuss your student’s progress immediately after class, as I need to prepare for another student, however, I am available to answer your questions and to discuss any concerns you have via phone or email.
    
    <h1>In-Home Lessons</h1>
    <p>If the student is not present for his or her lesson, I will wait ten minutes for them to arrive. Parents or caregivers of young students, please do not leave during your child’s lesson. If an emergency arises we will need your assistance. Also, for the duration of his or her lesson, televisions in the same room as the piano must be turned off and younger siblings supervised. Thank you for your cooperation.
    
    <h1>Rescheduling Policies</h1>
    <p>Cancellations must be made 24 hours in advance by the parent or guardian in order to schedule a make-up lesson. Each student is permitted one make-up lesson for the Fall-Spring Session. This lesson will take place during the last week of June. Any other missed classes will be forfeited. Each student is guaranteed his or her regularly scheduled lesson each week unless the teacher is severely ill or perilous weather prevents her from travelling to your home. Lessons cancelled by the teacher will be rescheduled. Additional studio-based lessons (those not during your student’s normal lesson time) may be purchased if the schedule permits.
    
    <p>Obtaining Books and Other Necessary Supplies</p>
    <ul>
    <li>Lesson Books - I will purchase the books and the cost will be added to your invoice for the following month.</li>
    <li>Metronome – If you do not already own one, you will need to purchase a metronome (approximately $40) within the first month of lessons.</li>
    <li>Practice Journal/Assignment Book – In September of each year students will receive a Practice Journal/Assignment Book. The cost of this book will be added to the invoice for September’s tuition.</li>
    <li>CD Player- This or another child-friendly music-playing device is required for all MFPA students and recommended for Primer and Level 1 students.</li>
    <li>Music Tote - I will provide your student with an attractive bag in which to store their music.</li>
    </ul>
</div>